
#potition{
    text-align: center;
}
#red{
    color: red;
}
#potition2{
    text-align: end;
    text-align: center;
}
#alinearderecha {
  display: block;
  margin-left: auto;
  margin-right: 0;
}